
body {
 
}
#header-nav {
  background-color: gray;
}
.navbar-brand {
  font-family: 'Anton', sans-serif;
  padding: 0px 0px 75px;
  color: black;
}
.navbar-brand h1 { 
  color: black;
  padding-left: 15px;
}
/*This is to remove the underlined feature*/
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-toggle span {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle {
  border: 1px solid black;
  margin-top: 20px;
}
#nav-list {
  margin-top: 10px;
  font-weight: bold;
  display: inline-block;
}
.text-center {
	color: black;
	font-size: 34px;
	font-weight: bold;
}
#collapsable-nav a {
  color: black;
  font-weight: bold;
}
.jumbotron {
	width: 98%;
	background-color:  gray;
	color: black;
	text-align: justify;
}
.jumbotron .text-center {
  color: black;
  font-size: 24px;
  font-weight: bold;
}
#text {
	font-size: 14px;
	font-weight: bold;
}



/********************* Large devices only **************/
@media (min-width: 1200px) {
 
}
/********************* Medium devices only *************/
@media (min-width: 992px) and (max-width: 1199px) {
    
}
/********************* Small devices only **************/
@media (min-width: 768px) and (max-width: 991px) {
  
}

  /***************** Extra small devices only **********/
@media (min-width: 468px) and (max-width: 767px) {
  
}
/***** Super extra small devicesOnly e.g., iPhone 4 ****/
@media (max-width: 467px) {
 /******* This is the original version before all medias.*******/
  }
}